
{% extends "Recipes/baseRecipes.html.twig" %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col text-center"><h2>{{ recipe.name }}  Nº {{ recipe.code }}</h2></div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{{ recipe.image }}">
        </div>
        <div class="col">
            <div class="row">
                <div class="col">{{ recipe.description }}</div>
            </div>
            <div class="row">
                <ul>
                    {# DEBILIDADES #}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

